# Virtual environment
venv/
.venv/

# Byte-compiled / cache
__pycache__/
pharmacist/__pycache__/
pharmacist/migrations/__pycache__/
pharmacist_service/__pycache__/
*.py[cod]

# # Environment variables
# .env

# VSCode or IDE settings (nếu dùng)
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
