# Virtual environment
venv/
.venv/

# Byte-compiled / cache
__pycache__/
user/__pycache__/
user/migrations/__pycache__/
auth_service/__pycache__/
*.py[cod]

# # Environment variables
# .env

# VSCode or IDE settings (nếu dùng)
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
